<div class="item-header" style="margin-top: -200px;">
		<h1> Budgets </h1>
</div>
<% if current_user %>
<div id="budgets-table">
  <table>
    <tr>
      <th>Budget</th>
      <th>Money Left</th>
      <th>Edit</th>
    </tr>
    <% @budgets.each do |budget| %>
		<% if budget.user_id == @current_user.id %>
			<tr>
				<td><%= budget.total_amount %></td>
				<td><%= budget.current_amount %></td>
				<td><%= button_to 'Edit Budget', edit_budget_path(budget), :method => 'get', :style => "background: #4CAF50;"%></td>

			</tr>
		<% end %>
  <% end %>
	
	<% if !@budgets.present? %>
		<tr><td colspan="4"><%= button_to 'Create Budget', new_budget_path, :method => 'get', :style => "background: #4CAF50;"%></td></tr>
	<%end%>
  </table>
</div>

<% end %>
