<div class="item-header">
		<h1> Purchases </h1>
</div>
<% if current_user %>
<div id="purchase-table">
  <table>
    <tr>
      <th>Purchase Price</th>
      <th>Item Purchased</th>
      <th>Edit Purchase</th>
    </tr>
    <% @purchases.each do |purchase| %>
    <tr>
      <td><%= Item.all.select{|c| c.id==purchase.item_id}.first.price %></td>
      <td><%= Item.all.select{|c| c.id==purchase.item_id}.first.name %></td>
			<td><%= button_to "Delete Purchase", purchase, :method => :delete, :class => 'input-button', :id => 'button-edit' %></td>
    </tr>
  <% end %>
  <tr><td colspan="4"><%= button_to 'New Purchase', new_purchase_path, :class => 'button', :method => 'get', :class => 'input-button'%></td></tr>
  </table>
</div>

<% end %>
