
<% @items.each do |item| %>
<table>
  <tr>
    <th>Item</th>
    <th>Price</th>
    <th>Category</th>

<tr>
  <td><%= item.name %></td>
  <td><%= item.price %></td>
  <td><%= Category.all.select{|c| c.id==item.category_id}.first.name %></td>
  <td><%= link_to 'Edit', item_path(item) %></td>
</tr>
<% end %>
</table>
