/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
	background-color: #55c094;
	color: black;
}

a{
	color:black;
	font-style: underline;
	font-weight: bold;
}

#cont ul{
	list-style:none;
	margin: 0px 0px 0px 0px;
}
#cont{
	margin: 35px;
}
#cont ul li{
	background-color: #71cad0;
	width:150px;
	border:1px solid white;
	height:50px;
	line-height:50px;
	text-align:center;
	color:white;
	font-size:18px;
	float: left;
	bottom: 50;
}
#menu{
	margin: auto;
}
#logo{
	width:1px;
	height:1px;
}
.content{
	top:100px;
	position: relative;
}

