/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 #search{
   width: 20%;
   border: 1px solid #ccc;
   background: #FFF;
   margin: 0 0 5px;
   padding: 10px;
 }
 .made-with-love {
   margin-top: 40px;
   padding: 10px;
   clear: left;
   text-align: center;
   font-size: 10px;
   font-family: arial;
   color: #fff;
 }
 .made-with-love i {
   font-style: normal;
   color: #F50057;
   font-size: 14px;
   position: relative;
   top: 2px;
 }
 .made-with-love a {
   color: #fff;
   text-decoration: none;
 }
 .made-with-love a:hover {
   text-decoration: underline;
 }
