// Place all the styles related to the Budget controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new-budget{
  width: 600px;
  margin: 0 auto;
  background-color: white;
  color:#0097A7;
}
.budget-header{
  text-align: center;
  background-color: #0097A7;
  color:white;
}

#budgets-table{
  max-width: 80%;
  height: 300px;
  margin: auto;
}
.input-button{
  height: 30px;
  font-size: 16px;
  width: 145px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background-color: red;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  border-radius: 2px;
}
.input-button:hover{
    background-color: #4CAF50;
}
