// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#category-table{
  max-width: 80%;
	height: 300px;
	margin: auto;
}

.category-button{
  height: 40px;
  font-size: 16px;
  width: 145px;
  -webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	background-color: red;
	border: none;
	color: white;
	text-align: center;
	font-size: 13px;
	border-radius: 2px;
}
.category-button:hover{
    background-color: #4CAF50;
}

.category-button > a{
	height: 75px;
	width: 125px;
}

#new_category{
  color:black;
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
