// Place all the styles related to the Item controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-item{
  margin-top: 20%;
width: 600px;
margin: 0 auto;
background-color: white;
color:#0097A7;
}
.input{
  height: 25px;
font-size: 16px;
width: 380px;
margin-left: 12.5%;
}
.input-exc{
height: 25px;
font-size: 16px;
width: 380px;
margin-left: 12.5%;
margin-bottom: 2.5%;
}
.input-button{
  height: 30px;
  font-size: 16px;
  width: 145px;
  // margin-left: 32%;
  // margin-bottom: 2.5%;
  -webkit-transition-duration: 0.4s;
/* Safari */
transition-duration: 0.4s;
background-color: red;
/* Green */
border: none;
color: white;
text-align: center;
font-size: 16px;
border-radius: 2px;
}
.input-button:hover{
    background-color: #4CAF50;
}
.item-header{
text-align: center;
background-color: #0097A7;
color:white;
width: 80%;
margin: 0 auto;
}
.button-class {
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    margin-left: 1px;
    /* Green */
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    min-width: 40%;
    margin-top: 1px;
}
#button-edit {
    background-color: #4CAF50;
    margin-left: 5px;
    margin-right: 5px;
}
#purchase-button{
  background-color: #4CAF50;
  margin-left: 5px;
  margin-right: 5px;
}
#button-edit:hover {
    background-color: #6fbf72;
}

a:hover{
  text-decoration: none;
}


.item-table {
    max-width: 80%;
    margin: 0 auto;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #0097A7;
    color: white;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
#button-column{
  width: 40%;
  padding: 5px;
}


#item_category_id{
  margin-left: 12.5%;
}
#form{
  background-color: white;
}

#itemsDiv{
	width: 550px;
	height: 350px;
	margin: auto;
	border: 2px solid black;
	border-radius: 5px;
	background-color: white;
}

#itemsTable{
	width: 500px;
	height: 300px;
	margin: auto;
}

.button_to{
  margin:0 auto;
  display: inline-block;
  padding: 0;
}

form{
  text-align: left;
}
