// Place all the styles related to the Purchases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new-purchase{
width: 600px;
margin: 0 auto;
background-color: white;
color:#0097A7;
}

.purchase-header{
  text-align: center;
  background-color: #0097A7;
  color:white;
}
