// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form{
	margin: 50px;
}

label{
	font-weight: bold;
	font-size: 25px;
}

#login{
	margin: auto;
	background-color: white;
	width: 500px;
	height: 400px;
	border: 1px solid gray;
	border-radius: 15px;
	position: relative;
}

#newuser{
	font-weight: bold;
	position: relative;
	padding: 0px ;
}

.loginfield{
	font-size: 25px;
	padding: 10px 0px 10px 0px;
}

.buttons{
	display: block;
}

.buttons > div{
	display: inline-block;
}

.login{
	width: 600px;
	height: 300px;
	margin: 0 auto;
	background-color: white;
	color:#0097A7;
}
.login-header{
	text-align: center;
	background-color: #0097A7;
	color:white;
	padding: .5%;
}
