// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.newuser{
	padding: 5px;
	font-size: 25px;
	position: relative;
}

.user_new_form{
	margin: auto;
	background-color: white;
	width: 700px;
	height: 450px;
	border: 1px solid gray;
	border-radius: 15px;
}

.new-user{
	width: 600px;
	margin: 0 auto;
	background-color: white;
	color:#0097A7;
}
.user-header{
	text-align: center;
	background-color: #0097A7;
	color:white;
	padding: .5%;
}
